<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}XGallery{% endblock %}</title>
    <meta name="description" content="{% block description %}XGallery. Web crawler{% endblock %}">
    <meta name="keywords" content="{% block keywords %}XGallery, PHP, Symfony, Flickr, JAV, Porn{% endblock %}">
    <meta name="author" content="Viet Vu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@soulevil"/>
    <meta name="twitter:creator" content="@soulevil"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="XGallery"/>
    <meta name="og:title" content="{{ block('title') }}"/>
    <meta name="og:description" content="{{ block ('description') }}"/>
    <meta property="og:image" content="//xgallery.soulevil.com/background.png"/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/all.min.css') }}"/>
    {% endblock %}
</head>
<body class="app-{{ app.environment }}">
{% include 'base/mainnav.html.twig' %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} flash-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://soulevil.com/"> SoulEvil</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/lazyload/dist/lazyload.min.js') }}"></script>
    <script src="{{ asset('assets/js/onejav.js') }}"></script>
{% endblock %}
<script>
    var lazyLoadInstance = new LazyLoad({
        elements_selector: ".lazy"
    });

    if (lazyLoadInstance) {
        lazyLoadInstance.update();
    }
</script>
</body>
</html>
