{% extends "base/base.html.twig" %}
{% block title %}
    XGallery - Flickr
{% endblock %}
{% block body %}
    {% set userguide_content = 'Flickr utilities' %}
    {{ include('base/guide.html.twig') }}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header">Flickr</h4>
                <div class="card-body">
                    <h5><i class="fas fa-users"></i> Contact</h5>
                    {{ include('/flickr/form/contact.html.twig') }}
                    <hr/>
                    <h5>Photos</h5>
                    {{ include('/flickr/form/photos.html.twig') }}
                    <hr/>
                    <h5>Photos' sizes</h5>
                    {{ include('/flickr/form/photossize.html.twig') }}
                    <hr/>
                    <h5>Photos download</h5>
                    {{ include('/flickr/form/downloads.html.twig') }}
                    <hr/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}