<div class="card {% if item.detail is null %}text-white bg-dark{% endif %}">
    <!--<img data-src="https://via.placeholder.com/150" class="card-img-top lazy" alt="{{ item.title }}">-->
    <img data-src="{{ item.cover }}" class="card-img-top lazy" alt="{{ item.title }}">

    <div class="card-header">
        <h5 style="text-align: left; display: inline-block"><a
                    href="{{ path('app_onejav_detail', {'slug': item.itemNumber}) }}">{{ item.itemNumber }}</a> <span
                    class="badge badge-secondary">{{ item.size }} GB</span></h5>
        <span class="float-right"><a href="/onejav/daily/{{ item.dateSlug }}"><i
                        class="fas fa-calendar-alt"></i> {{ item.date }}</a></span>
    </div>

    {% if item.description|length %}
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <small>{{ item.description }}</small>
            </blockquote>
        </div>
    {% endif %}

    {% if item.tags|length > 0 %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="fas fa-tags"></i>
                {% for tag in item.tags %}
                    <a href="/onejav/tag/{{ tag }}"><span
                                class="badge badge-info">{{ tag }}</span></a>
                {% endfor %}
            </li>
        </ul>
    {% endif %}

    {% if item.detail is null %}
        <ul class="list-group list-group-flush">
            {% for actress in item.actresses %}
                <li class="list-group-item"><a href="/onejav/actress/{{ actress }}">{{ actress }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-group list-group-flush">
            {% for actress in item.detail.actress %}
                <li class="list-group-item"><i class="fas fa-female"></i> <a
                            href="/onejav/actress/{{ actress }}">{{ actress }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if downloads is defined %}
        <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-download"></i> Download <span
                            class="badge badge-pill badge-light">{{ downloads|length }}</span></a>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% for download in downloads %}
                        <a href="{{ path('app_onejav_downloadtorrent') }}/?url={{ download.torrent }}"
                           class="dropdown-item">Size {{ download.size }} GB</a>
                    {% endfor %}
                </div>

            </div>
            <div class="btn-group" role="group">
                <a href="{{ path('app_onejav_addfavorite') }}/?itemNumber={{ item.itemNumber }}"
                   class="btn btn-secondary"><i class="fas fa-folder-plus"></i> Add</a>
            </div>
        </div>
    {% else %}
        <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-download"></i> Download <span
                            class="badge badge-pill badge-light">1</span></a>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a href="{{ path('app_onejav_downloadtorrent') }}?url={{ item.torrent }}"
                       class="dropdown-item">Size {{ item.size }} GB</a>
                </div>

            </div>
            <div class="btn-group" role="group">
                <a href="{{ path('app_onejav_addfavorite') }}/?itemNumber={{ item.itemNumber }}"
                   class="btn btn-secondary"><i class="fas fa-folder-plus"></i> Add</a>
            </div>
        </div>
    {% endif %}
</div>
