{% extends "base/base.html.twig" %}
{% block title %}
    XGallery - Onejav - {{ item.name }}
{% endblock %}

{% block body %}
    {{ dump(item) }}
    <h2 class="my-4">{{ item.name }}</h2>
    <div class="row">
        <div class="col-4">
            <img src="{{ item.cover }}" alt="{{ item.name }}" class="img-thumbnail"/>
        </div>
        <div class="col-8">
            <dl>
                <dt>Content ID</dt>
                <dd>{{ item.content_id }}</dd>
                <dt>Dvd ID</dt>
                <dd>{{ item.dvd_id }}</dd>
                <dt>Downloads</dt>
                <dd>
                    {% for size, torrent in downloads %}
                        <a href="{{ path('app_onejav_downloadtorrent') }}/?url={{ torrent }}"
                           class="btn btn-primary"><i class="fas fa-download"></i> Size {{ size }} GB</a>
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </div>
    <hr/>
{% endblock %}
