{% extends "base/base.html.twig" %}
{% block title %}
    XGallery - Onejav - Homepage
{% endblock %}
{% block body %}
    {% set userguide_content = 'Search OneJAV to get torrent download file and show up with R18 content data. Suggest to use keyword with <strong>movie ID</strong> or <strong>DVD ID</strong>' %}
    {{ include('base/guide.html.twig') }}
    <div class="row">
        <div class="col-8">
            {% if list is defined %}
                <div class="daily-items">
                    {{ include('onejav/cards.html.twig') }}
                </div>
            {% endif %}
            <button type="button" class="btn btn-primary load-more"><i
                        class="fas fa-chevron-circle-down"></i>
                Load more
            </button>
        </div>
        <div class="col-4">
            <div class="row">
                {% if tags is defined %}
                    <div class="col-12">

                        {% for tag in tags %}
                            <a href="/onejav/tag/{{ tag }}"><span class="badge badge-info">{{ tag }}</span></a>
                        {% endfor %}

                    </div>
                    <hr/>

                    {% if actresses is defined %}
                        <div class="col-12">
                        {% for actress in actresses %}
                            <a href="/onejav/actress/{{ actress }}"><span class="badge badge-info">{{ actress }}</span></a>
                        {% endfor %}
                    {% endif %}
                    </div>
                {% endif %}
                <div class="col-12 featured-items">

                </div>
            </div>
        </div>
        <div class="col-12 tags">

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/onejav.js') }}"></script>
{% endblock %}


